/*
Error: Undefined variable: "$border-width".
        on line 195 of scss/style.scss

190:       color: white;
191:     }
192:     @extend .six.columns;
193:     .card-image {
194:       top:0;
195:       height: 2 * $card-height + $gutter-height + $border-width;
196:     }
197:     
198: 
199: 
200:     h1, p {

Backtrace:
scss/style.scss:195
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/script/tree/node.rb:50:in `perform'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/script/tree/operation.rb:73:in `_perform'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/script/tree/node.rb:50:in `perform'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:394:in `visit_prop'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `map'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `map'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `map'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/listen-2.8.0/lib/listen/listener.rb:282:in `call'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/listen-2.8.0/lib/listen/listener.rb:282:in `_process_changes'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/listen-2.8.0/lib/listen/listener.rb:246:in `block in _wait_for_changes'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/listen-2.8.0/lib/listen/listener.rb:229:in `loop'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/listen-2.8.0/lib/listen/listener.rb:229:in `_wait_for_changes'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/listen-2.8.0/lib/listen/listener.rb:318:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$border-width\".\A         on line 195 of scss/style.scss\A \A 190:       color: white;\A 191:     }\A 192:     @extend .six.columns;\A 193:     .card-image {\A 194:       top:0;\A 195:       height: 2 * $card-height + $gutter-height + $border-width;\A 196:     }\A 197:     \A 198: \A 199: \A 200:     h1, p {"; }
