@charset "UTF-8";
a, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  position: relative; }

body {
  line-height: 1; }

ul {
  list-style: none; }

ol {
  list-style: decimal; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title], acronym[title] {
  border-bottom: 1px dotted;
  cursor: help; }

input, select {
  vertical-align: middle; }

i, em {
  font-style: oblique; }
  i i, i em, em i, em em {
    font-style: normal; }

b, strong {
  font-weight: bold; }

a:focus {
  outline: 1px dotted; }

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }

  .column,
  .columns {
    margin-left: 2.666666666667%; }

  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns {
    width: 4.66666666667%; }

  .two.columns {
    width: 14.3333333333%; }

  .three.columns, .card {
    width: 22%; }

  .four.columns {
    width: 30.6666666667%; }

  .five.columns {
    width: 39.3333333333%; }

  .six.columns, .card.story-major, .card.story-kahuna, .card.story-major h1, .card.story-kahuna h1, .card.story-major p, .card.story-kahuna p, .card.cross-campus, .card.cross-campus h1, .card.cross-campus p {
    width: 48%; }

  .seven.columns {
    width: 56.6666666667%; }

  .eight.columns {
    width: 65.3333333333%; }

  .nine.columns, .card.story-kahuna h1 {
    width: 74.0%; }

  .ten.columns {
    width: 82.6666666667%; }

  .eleven.columns {
    width: 91.3333333333%; }

  .twelve.columns, .card.story-kahuna {
    width: 100%;
    margin-left: 0; }

  .one-third.column {
    width: 30.6666666667%; }

  .two-thirds.column {
    width: 65.3333333333%; }

  .one-half.column {
    width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%; }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%; }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%; }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%; }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%; }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%; }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%; }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%; }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%; } }
body, #mobile-header #mobile-xc, header#site-header nav#site-navigation a, footer#site-footer a, .card.cross-campus #xc, body.article-page .most-read-top, body.article-page .more-from-bottom, body.article-page .most-read-top h2, body.article-page .more-from-bottom h2 {
  font-family: "Avenir", "Helvetica-Neue", "Arial", "Helvetica", sans-serif;
  font-weight: 600;
  letter-spacing: 2px; }

.card h1, section.category > h2, .story-softcore-cover h1, body.article-page h1, body.article-page .article-header .subtitle, body.article-page .article-text h3 {
  font-family: 'Playfair Display', "Georgia", serif;
  font-weight: 400; }

.card.story time, .card.story .category, .card.author-card .author-title, .card.author-card .archive {
  text-transform: uppercase;
  position: absolute;
  letter-spacing: 0.075em;
  font-size: .75em;
  margin-left: 15px; }

.card h1 {
  letter-spacing: .025em;
  line-height: 1.2;
  font-weight: 600;
  color: #433f3f;
  margin: 15px; }

.card.story-breaking .breaking {
  top: 0;
  right: 0;
  width: 140px;
  height: 66px;
  padding: 20px;
  position: absolute;
  background-color: red;
  text-align: center; }
  .card.story-breaking .breaking h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    color: white; }
  .card.story-breaking .breaking time {
    position: relative;
    font-size: 0.675em;
    bottom: auto;
    margin: 0; }

body {
  background-color: #f6f4f4; }

p {
  font-size: 0.8em; }

#mobile-header {
  height: 50px;
  background-color: white;
  padding: 25px 0px 10px 10px;
  display: none;
  position: fixed;
  z-index: 6;
  width: 100%;
  top: 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15), 0 -5px 3px -10px #FFF; }
  #mobile-header img {
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -18px; }
  #mobile-header #mobile-xc {
    text-decoration: none;
    height: 30px;
    width: 30px;
    margin-top: -28px;
    margin-right: 12.5px;
    display: inline-block;
    vertical-align: bottom;
    float: right;
    text-align: center;
    font-size: 22px;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 0;
    color: #191919; }
  #mobile-header .menu-link {
    position: absolute;
    color: #191919;
    margin-top: -7px;
    margin-left: 11px;
    text-decoration: none;
    cursor: pointer; }

#mobile-navigation {
  height: 100%;
  background-color: white;
  opacity: 0.975;
  z-index: 4;
  left: -200px;
  /*left or right and the width of your navigation panel*/
  width: 200px;
  /*should match the above value*/
  border-right: 3px solid #2a9dea; }
  #mobile-navigation a {
    color: #aaa;
    text-decoration: none;
    display: block;
    padding: 1.2em 1.2em 1.2em 1em;
    outline: none;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
    transition: border-left 0.25s ease;
    font-weight: 600; }
    #mobile-navigation a.fa-times {
      padding: 0.8em; }
    #mobile-navigation a:hover {
      transition: border-left 0.25s ease; }
  #mobile-navigation #nav-close-button:hover {
    background-color: white;
    color: #191919;
    cursor: pointer; }
  #mobile-navigation #tag-top {
    border-left: 5px solid #2882C8; }
    #mobile-navigation #tag-top:hover {
      background-color: white;
      color: #191919;
      border-left: 10px solid #2882C8; }
  #mobile-navigation #tag-opinion {
    border-left: 5px solid #cf383e; }
    #mobile-navigation #tag-opinion:hover {
      border-left: 10px solid #cf383e;
      color: #cf383e; }
  #mobile-navigation #tag-university {
    border-left: 5px solid #2882C8; }
    #mobile-navigation #tag-university:hover {
      border-left: 10px solid #2882C8;
      color: #2882C8; }
  #mobile-navigation #tag-city {
    border-left: 5px solid #00be64; }
    #mobile-navigation #tag-city:hover {
      border-left: 10px solid #00be64;
      color: #00be64; }
  #mobile-navigation #tag-sports {
    border-left: 5px solid #42d2ff; }
    #mobile-navigation #tag-sports:hover {
      border-left: 10px solid #42d2ff;
      color: #42d2ff; }
  #mobile-navigation #tag-scitech {
    border-left: 5px solid #f7ca18; }
    #mobile-navigation #tag-scitech:hover {
      border-left: 10px solid #f7ca18;
      color: #f7ca18; }
  #mobile-navigation #tag-culture {
    border-left: 5px solid #d20a78; }
    #mobile-navigation #tag-culture:hover {
      border-left: 10px solid #d20a78;
      color: #d20a78; }
  #mobile-navigation #tag-ytv {
    border-left: 5px solid #c89664; }
    #mobile-navigation #tag-ytv:hover {
      border-left: 10px solid #c89664;
      color: #c89664; }
  #mobile-navigation #tag-weekend {
    border-left: 5px solid #fe9e48; }
    #mobile-navigation #tag-weekend:hover {
      border-left: 10px solid #fe9e48;
      color: #fe9e48; }
  #mobile-navigation #tag-magazine {
    border-left: 5px solid #00b4b4; }
    #mobile-navigation #tag-magazine:hover {
      border-left: 10px solid #00b4b4;
      color: #00b4b4; }

header#site-header {
  background-color: white;
  padding: 10px 0 0; }
  header#site-header a {
    text-decoration: none; }
  header#site-header h1.masthead-logo {
    background: no-repeat url("../images/branding/YDN_Nameplate_Big.gif");
    background-size: 390px 85px;
    color: transparent;
    width: 390px;
    height: 85px;
    display: block;
    margin: 0 auto 10px; }
  header#site-header .is-sticky nav {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15), 0 -5px 3px -10px #FFF;
    border-bottom: none;
    opacity: 0.98; }
  header#site-header nav#site-navigation {
    background-color: white;
    text-align: center;
    z-index: 100;
    border-bottom: 1px solid #ddd; }
    header#site-header nav#site-navigation a {
      line-height: 1.2;
      padding: 10px;
      font-size: 14px;
      letter-spacing: 1.75px;
      text-transform: uppercase;
      text-decoration: none;
      color: #bbb; }
      header#site-header nav#site-navigation a:hover {
        color: #333; }

.responsive-head a {
  padding-left: 11px !important;
  padding-right: 11px !important; }

footer#site-footer {
  background-color: rgba(25, 25, 25, 0.95);
  text-align: center;
  z-index: 5; }
  footer#site-footer a {
    text-decoration: none;
    font-size: 11px;
    color: white;
    padding: 17.5px 0px;
    line-height: 50px;
    text-transform: uppercase;
    margin: 0px 10px 0px 10px; }

.article-footer {
  background-color: #ccc !important; }

.container {
  margin-top: 2%;
  display: table; }

p.category {
  display: none; }

.byline {
  text-transform: uppercase;
  letter-spacing: 1.8;
  line-height: 1.4;
  font-weight: 600;
  color: #696565;
  margin-left: 15px; }

.card {
  background-color: white;
  height: 211.18px;
  overflow: hidden;
  z-index: 2;
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1); }
  .card:hover {
    border-width: 8px !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16); }
  .card h1 {
    font-size: 20px; }
  .card.author-card {
    height: 460.86px;
    width: 460.86px; }
  .card.story .byline {
    text-transform: uppercase;
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: .075em; }
  .card.story .card-preview {
    line-height: 1.3em;
    letter-spacing: .03em;
    font-weight: 300;
    margin-left: 15px;
    margin-right: 15px; }
  .card.story time {
    bottom: 15px;
    color: #aaa;
    font-weight: 300; }
  .card.story .category {
    bottom: 15px; }
  .card.story :not(.card-image) {
    z-index: 2; }
  .card.story .card-image {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 0; }
  .card.story-major, .card.story-kahuna {
    height: 460.86px;
    border-bottom: none !important; }
    .card.story-major .card-preview, .card.story-kahuna .card-preview {
      line-height: 1.4em;
      letter-spacing: 0.05em; }
    .card.story-major h1, .card.story-kahuna h1, .card.story-major p, .card.story-kahuna p, .card.story-major time, .card.story-kahuna time {
      color: white; }
    .card.story-major p.category, .card.story-kahuna p.category {
      color: #bbb; }
    .card.story-major .card-image, .card.story-kahuna .card-image {
      top: 0;
      height: 463.86px; }
    .card.story-major h1, .card.story-kahuna h1, .card.story-major p, .card.story-kahuna p {
      z-index: 2; }
    .card.story-major.university::after, .card.university.story-kahuna::after {
      background: -moz-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(40, 130, 200, 0.75) 100%), no-repeat;
      background: -webkit-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(40, 130, 200, 0.75) 100%), no-repeat;
      background: -o-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(40, 130, 200, 0.75) 100%), no-repeat;
      background: -ms-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(40, 130, 200, 0.75) 100%), no-repeat;
      background: linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(40, 130, 200, 0.75) 100%), no-repeat;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      position: absolute; }
    .card.story-major.city::after, .card.city.story-kahuna::after {
      background: -moz-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(0, 190, 100, 0.75) 100%), no-repeat;
      background: -webkit-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(0, 190, 100, 0.75) 100%), no-repeat;
      background: -o-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(0, 190, 100, 0.75) 100%), no-repeat;
      background: -ms-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(0, 190, 100, 0.75) 100%), no-repeat;
      background: linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(0, 190, 100, 0.75) 100%), no-repeat;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      position: absolute; }
    .card.story-major.sports::after, .card.sports.story-kahuna::after {
      background: -moz-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(66, 210, 255, 0.75) 100%), no-repeat;
      background: -webkit-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(66, 210, 255, 0.75) 100%), no-repeat;
      background: -o-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(66, 210, 255, 0.75) 100%), no-repeat;
      background: -ms-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(66, 210, 255, 0.75) 100%), no-repeat;
      background: linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(66, 210, 255, 0.75) 100%), no-repeat;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      position: absolute; }
    .card.story-major.scitech::after, .card.scitech.story-kahuna::after {
      background: -moz-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(247, 202, 204, 0.75) 100%), no-repeat;
      background: -webkit-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(247, 202, 204, 0.75) 100%), no-repeat;
      background: -o-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(247, 202, 204, 0.75) 100%), no-repeat;
      background: -ms-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(247, 202, 204, 0.75) 100%), no-repeat;
      background: linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(247, 202, 204, 0.75) 100%), no-repeat;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      position: absolute; }
    .card.story-major.culture::after, .card.culture.story-kahuna::after {
      background: -moz-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(210, 10, 120, 0.75) 100%), no-repeat;
      background: -webkit-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(210, 10, 120, 0.75) 100%), no-repeat;
      background: -o-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(210, 10, 120, 0.75) 100%), no-repeat;
      background: -ms-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(210, 10, 120, 0.75) 100%), no-repeat;
      background: linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(210, 10, 120, 0.75) 100%), no-repeat;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      position: absolute; }
    .card.story-major.weekend::after, .card.weekend.story-kahuna::after {
      background: -moz-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(254, 158, 172, 0.75) 100%), no-repeat;
      background: -webkit-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(254, 158, 172, 0.75) 100%), no-repeat;
      background: -o-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(254, 158, 172, 0.75) 100%), no-repeat;
      background: -ms-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(254, 158, 172, 0.75) 100%), no-repeat;
      background: linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(254, 158, 172, 0.75) 100%), no-repeat;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      position: absolute; }
    .card.story-major.magazine::after, .card.magazine.story-kahuna::after {
      background: -moz-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(0, 180, 180, 0.75) 100%), no-repeat;
      background: -webkit-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(0, 180, 180, 0.75) 100%), no-repeat;
      background: -o-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(0, 180, 180, 0.75) 100%), no-repeat;
      background: -ms-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(0, 180, 180, 0.75) 100%), no-repeat;
      background: linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(0, 180, 180, 0.75) 100%), no-repeat;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      position: absolute; }
  .card.story-kahuna {
    border-bottom: none !important; }
    .card.story-kahuna .card-image {
      top: 0;
      width: 100%;
      height: auto; }
    .card.story-kahuna h1 {
      font-size: 60px;
      padding-left: 15px;
      font-weight: 400; }
  .card.story-preview {
    height: 460.86px; }
    .card.story-preview .card-preview {
      color: #696565; }
    .card.story-preview time {
      color: #696565; }
    .card.story-preview .breaking {
      width: 100%;
      position: relative; }
      .card.story-preview .breaking time {
        color: white; }
  .card.story-photo {
    height: 460.86px; }
    .card.story-photo .card-image {
      height: 50%;
      bottom: 0;
      width: auto; }
    .card.story-photo .card-preview {
      color: #696565; }
    .card.story-photo time {
      color: white; }
    .card.story-photo p.category {
      color: #bbb; }
    .card.story-photo::after {
      background: -moz-linear-gradient(to bottom, white 50%, rgba(255, 255, 255, 0.96) 55%, rgba(255, 255, 255, 0.9) 60%, rgba(0, 0, 0, 0.5) 90%), no-repeat;
      background: -webkit-linear-gradient(to bottom, white 50%, rgba(255, 255, 255, 0.96) 55%, rgba(255, 255, 255, 0.9) 60%, rgba(0, 0, 0, 0.5) 90%), no-repeat;
      background: -o-linear-gradient(to bottom, white 50%, rgba(255, 255, 255, 0.96) 55%, rgba(255, 255, 255, 0.9) 60%, rgba(0, 0, 0, 0.5) 90%), no-repeat;
      background: -ms-linear-gradient(to bottom, white 50%, rgba(255, 255, 255, 0.96) 55%, rgba(255, 255, 255, 0.9) 60%, rgba(0, 0, 0, 0.5) 90%), no-repeat;
      background: linear-gradient(to bottom, white 50%, rgba(255, 255, 255, 0.96) 55%, rgba(255, 255, 255, 0.9) 60%, rgba(0, 0, 0, 0.5) 90%), no-repeat;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      position: absolute; }
  .card.story-softcore {
    width: 460.86px;
    height: 230.43px; }
    .card.story-softcore .card-image {
      position: absolute;
      width: 100%;
      height: auto; }
    .card.story-softcore h1 {
      position: absolute;
      color: white;
      width: 200px; }
    .card.story-softcore .byline {
      color: #ccc;
      font-weight: 100; }
    .card.story-softcore time {
      position: absolute;
      color: white; }
    .card.story-softcore p.category {
      color: #bbb; }
    .card.story-softcore::after {
      background: -moz-linear-gradient(to right, rgba(25, 25, 25, 0.8) 0%, rgba(250, 250, 250, 0) 100%), no-repeat;
      background: -webkit-linear-gradient(to right, rgba(25, 25, 25, 0.8) 0%, rgba(250, 250, 250, 0) 100%), no-repeat;
      background: -o-linear-gradient(to right, rgba(25, 25, 25, 0.8) 0%, rgba(250, 250, 250, 0) 100%), no-repeat;
      background: -ms-linear-gradient(to right, rgba(25, 25, 25, 0.8) 0%, rgba(250, 250, 250, 0) 100%), no-repeat;
      background: linear-gradient(to right, rgba(25, 25, 25, 0.8) 0%, rgba(250, 250, 250, 0) 100%), no-repeat;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      position: absolute; }
    .card.story-softcore:hover:after {
      background-image: url("../images/play_button.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-color: rgba(25, 25, 25, 0.6); }
    .card.story-softcore:hover h1, .card.story-softcore:hover time {
      opacity: .5; }
  .card.cross-campus {
    cursor: default;
    height: 460.86px;
    border-bottom: none; }
    .card.cross-campus h1, .card.cross-campus p, .card.cross-campus time {
      color: #696565; }
    .card.cross-campus::after {
      background: -moz-linear-gradient(to bottom, rgba(25, 25, 25, 0) 50%, white 100%), no-repeat;
      background: -webkit-linear-gradient(to bottom, rgba(25, 25, 25, 0) 50%, white 100%), no-repeat;
      background: -o-linear-gradient(to bottom, rgba(25, 25, 25, 0) 50%, white 100%), no-repeat;
      background: -ms-linear-gradient(to bottom, rgba(25, 25, 25, 0) 50%, white 100%), no-repeat;
      background: linear-gradient(to bottom, rgba(25, 25, 25, 0) 50%, white 100%), no-repeat;
      top: 270px;
      left: 0;
      width: 100%;
      height: 200px;
      content: "";
      position: absolute;
      z-index: 2; }
    .card.cross-campus .xc-content {
      height: 407.36px;
      overflow-y: scroll;
      padding: 25px 25px 25px 25px; }
    .card.cross-campus #xc {
      margin-left: 401px;
      margin-top: -60px;
      background-color: #2a9dea;
      overflow: hidden;
      width: 60px;
      height: 60px;
      letter-spacing: 0;
      color: white;
      font-size: 1.7em;
      font-weight: 600;
      font-style: italic; }
    .card.cross-campus #xc p {
      padding: 20px 20px 20px 20px;
      color: white;
      opacity: 0.9; }
    .card.cross-campus h1 {
      text-align: center;
      color: white;
      font-family: "Avenir", "Helvetica-Neue", "Arial", "Helvetica", sans-serif;
      text-transform: uppercase;
      background-color: #2882C8;
      width: 100%;
      margin: 0;
      padding: 15px 0 15px 0;
      letter-spacing: 0.15em;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.23), 0 1px 5px rgba(0, 0, 0, 0.16); }
    .card.cross-campus time {
      color: #2882C8;
      margin: 0;
      position: relative;
      bottom: 0;
      font-size: 0.8em;
      font-weight: 600; }
    .card.cross-campus p.category {
      color: #bbb; }
    .card.cross-campus p.card-preview, .card.cross-campus p.date {
      width: 100%;
      margin: 0 auto 20px auto;
      font-size: 1em; }
    .card.cross-campus p.date {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: #2882C8;
      font-weight: 800;
      margin-bottom: 15px; }
    .card.cross-campus .intro {
      font-weight: 700; }
    .card.cross-campus h1, .card.cross-campus p {
      z-index: 2; }
  .card.story-opinion {
    border-bottom: none; }
    .card.story-opinion h1 {
      color: white; }
    .card.story-opinion .card-image {
      top: 0;
      height: 214.18px; }
    .card.story-opinion time {
      color: white; }
    .card.story-opinion p.category {
      color: #bbb; }
    .card.story-opinion::after {
      background: -moz-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(222, 118, 122, 0.75) 100%), no-repeat;
      background: -webkit-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(222, 118, 122, 0.75) 100%), no-repeat;
      background: -o-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(222, 118, 122, 0.75) 100%), no-repeat;
      background: -ms-linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(222, 118, 122, 0.75) 100%), no-repeat;
      background: linear-gradient(to top right, rgba(0, 0, 0, 0.75) 0%, rgba(222, 118, 122, 0.75) 100%), no-repeat;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      position: absolute; }
  .card.story-weekend h1, .card.story-mag h1 {
    color: white; }
  .card.story-weekend .card-image, .card.story-mag .card-image {
    top: 0;
    width: auto;
    height: 214.18px; }
  .card.story-weekend time, .card.story-mag time {
    color: white; }
  .card.story-weekend p.category, .card.story-mag p.category {
    color: #bbb; }
  .card.story-weekend::after, .card.story-mag::after {
    background-color: rgba(25, 25, 25, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute; }

.category-jump {
  width: auto;
  padding: 7px;
  font-size: 0.7em;
  margin-top: 100px;
  bottom: 11px;
  color: white;
  text-transform: uppercase;
  margin: 0 auto;
  letter-spacing: 0.1em;
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1); }
  .category-jump.opinion {
    background-color: #cf383e; }
  .category-jump.university {
    background-color: #2882C8; }
  .category-jump.city {
    background-color: #00be64; }
  .category-jump.sports {
    background-color: #42d2ff; }
  .category-jump.weekend {
    background-color: #fe9e48; }
  .category-jump.culture {
    background-color: #d20a78; }
  .category-jump.scitech {
    background-color: #f7ca18; }
  .category-jump.ytv {
    background-color: #c89664; }
  .category-jump:after {
    content: "→";
    margin-left: 2px; }

section.category {
  clear: both;
  width: 100%; }
  section.category a {
    text-decoration: none; }
  section.category > h2 {
    font-style: italic;
    font-weight: 800;
    color: #433f3f;
    font-size: 2.5em;
    letter-spacing: 0.025em; }

a.link-wrap {
  display: block; }

section.opinion, section.university, section.city,
section.sports, section.culture,
section.scitech, section.ytv {
  padding-bottom: 125px;
  padding-top: 25px;
  border-bottom: 1px solid #ddd; }

section.opinion p.category {
  display: inline; }

section.magazine, section.weekend {
  padding-top: 100px; }
  section.magazine .story-weekend .byline, section.magazine .story-mag .byline, section.weekend .story-weekend .byline, section.weekend .story-mag .byline {
    display: none; }
  section.magazine h2, section.weekend h2 {
    color: white;
    margin-bottom: -100px;
    z-index: 1;
    margin-left: 16.5%; }

section#weekend, section#magazine {
  margin-top: 0px;
  padding-bottom: 90px;
  border-bottom: 1px solid #ddd; }

section.front-page p.category {
  display: inline; }
section.front-page time {
  bottom: 30px; }

.story-softcore-cover {
  overflow: hidden;
  height: 500px; }
  .story-softcore-cover .subtitle {
    margin-top: 10px;
    margin-left: 17%;
    line-height: 1.4;
    width: 40%;
    margin-bottom: 30px;
    font-weight: 100;
    opacity: 0.9;
    letter-spacing: 0.05em;
    font-style: italic;
    font-size: 18px;
    z-index: 1;
    color: white;
    font-family: 'Playfair Display', Georgia, serif; }
  .story-softcore-cover.magazine {
    height: 700px; }
  .story-softcore-cover .card-image {
    z-index: -1;
    width: 100%;
    height: auto; }
  .story-softcore-cover h1, .story-softcore-cover .byline {
    z-index: 1; }
  .story-softcore-cover h1 {
    margin-top: -50%;
    margin-left: 17%;
    color: white;
    opacity: 1;
    font-size: 3em;
    font-weight: 800;
    letter-spacing: .05em; }
  .story-softcore-cover .byline {
    color: white;
    margin-left: 17%;
    margin-top: 20px; }
  .story-softcore-cover::after {
    background: -moz-linear-gradient(to bottom, rgba(25, 25, 25, 0.3) 0%, #191919 100%), no-repeat;
    background: -webkit-linear-gradient(to bottom, rgba(25, 25, 25, 0.3) 0%, #191919 100%), no-repeat;
    background: -o-linear-gradient(to bottom, rgba(25, 25, 25, 0.3) 0%, #191919 100%), no-repeat;
    background: -ms-linear-gradient(to bottom, rgba(25, 25, 25, 0.3) 0%, #191919 100%), no-repeat;
    background: linear-gradient(to bottom, rgba(25, 25, 25, 0.3) 0%, #191919 100%), no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute; }

.section-wrap {
  padding: 5px 0 100px 0;
  background-color: #191919; }

header#site-header {
  background-color: white;
  padding: 10px 0 0; }
  header#site-header a {
    text-decoration: none; }
  header#site-header h1.masthead-logo {
    background: no-repeat url("../images/branding/YDN_Nameplate_Big.gif");
    background-size: 390px 85px;
    color: transparent;
    width: 390px;
    height: 85px;
    display: block;
    margin: 0 auto 10px; }
  header#site-header nav#site-navigation {
    background-color: white;
    text-align: center;
    z-index: 100;
    border-bottom: 1px solid #ddd; }
    header#site-header nav#site-navigation a {
      line-height: 1.2;
      padding: 15px;
      display: inline-block;
      font-size: 14px;
      letter-spacing: 1.75px;
      text-transform: uppercase;
      text-decoration: none;
      color: #bbb;
      cursor: pointer; }
      header#site-header nav#site-navigation a:hover {
        color: #333; }
    header#site-header nav#site-navigation a#small-logo {
      display: none;
      vertical-align: middle;
      padding: 0; }
      header#site-header nav#site-navigation a#small-logo img {
        height: 35px;
        width: auto; }
    header#site-header nav#site-navigation #nav-search {
      color: #bbb;
      line-height: 1.2;
      padding: 15px;
      position: relative;
      display: inline-block; }
      header#site-header nav#site-navigation #nav-search .search-box {
        display: none;
        background-color: white;
        width: 300px;
        height: 50px;
        position: absolute;
        right: 0px;
        top: 49px;
        border: 1px solid #2882C8; }
      header#site-header nav#site-navigation #nav-search:hover {
        cursor: pointer;
        background-color: #2882C8;
        color: white; }
        header#site-header nav#site-navigation #nav-search:hover .search-box {
          display: block; }

body.article-page footer {
  margin-top: 125px; }
  @media (max-width: 480px) {
    body.article-page footer {
      margin-top: 50px; } }
body.article-page #mobile-header {
  height: 50px; }
body.article-page .box {
  margin: 0 auto;
  transition: all 0.25s ease; }
  @media (min-width: 970px) {
    body.article-page .box {
      width: 960px; } }
  @media (max-width: 1030px) {
    body.article-page .box {
      margin-left: 3%;
      transition: all 0.25s ease; } }
  @media (max-width: 780px) {
    body.article-page .box {
      width: 80%;
      margin: 0 auto; } }
  @media (max-width: 600px) {
    body.article-page .box {
      width: 90%; } }
body.article-page .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 30px; }
  body.article-page .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
body.article-page h1 {
  letter-spacing: 1.2px; }
body.article-page .most-read-top, body.article-page .more-from-bottom {
  border-bottom: none;
  font-weight: normal;
  height: auto;
  overflow: hidden;
  background-color: white; }
  body.article-page .most-read-top .most-read, body.article-page .more-from-bottom .most-read {
    padding: 0 20px; }
  body.article-page .most-read-top h2, body.article-page .more-from-bottom h2 {
    background-color: #2882C8;
    font-size: 19px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 15px 10px;
    letter-spacing: 0.075em;
    text-align: center;
    color: rgba(255, 255, 255, 0.9); }
  body.article-page .most-read-top a, body.article-page .more-from-bottom a {
    text-decoration: none;
    border-bottom: 1px solid #eee;
    display: block;
    margin: 20px 0px;
    color: #191919;
    letter-spacing: 0.01em;
    line-height: 1.2em;
    padding-bottom: 15px;
    transition: all 0.25s ease; }
  body.article-page .most-read-top a:hover, body.article-page .more-from-bottom a:hover {
    color: #2882C8;
    transition: all 0.25s ease; }
  body.article-page .most-read-top a:last-child, body.article-page .more-from-bottom a:last-child {
    border-bottom: none;
    padding-bottom: 0; }
body.article-page .card {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12); }
body.article-page .most-read-top {
  position: absolute;
  top: 550px;
  right: 40px;
  height: auto;
  width: 250px; }
  @media (max-width: 970px) {
    body.article-page .most-read-top {
      right: 30px; } }
  @media (max-width: 780px) {
    body.article-page .most-read-top {
      display: none; } }
body.article-page .more-from-top {
  display: none; }
body.article-page .more-from-bottom {
  width: 60%; }
  @media (min-width: 980px) {
    body.article-page .more-from-bottom {
      display: none; } }
body.article-page .hero-image {
  width: 100%;
  height: 375px;
  overflow: hidden;
  z-index: 1; }
  body.article-page .hero-image:after {
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.9) 100%), no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute; }
body.article-page .byline {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  margin-top: 15px;
  margin-left: 0;
  z-index: 2; }
  body.article-page .byline a {
    color: #2882C8;
    text-decoration: none; }
  body.article-page .byline date, body.article-page .byline time {
    color: #aaa; }
  @media (max-width: 480px) {
    body.article-page .byline a, body.article-page .byline date, body.article-page .byline time {
      display: block;
      letter-spacing: 0.05em;
      text-align: center; } }
  @media (min-width: 481px) {
    body.article-page .byline a:after {
      content: "|";
      margin-left: 10px;
      margin-right: 10px;
      color: #ccc; } }
body.article-page .article-header {
  width: 100%; }
  body.article-page .article-header h1 {
    margin-bottom: -12.5px; }
  body.article-page .article-header h1, body.article-page .article-header .subtitle {
    width: 600px;
    margin-top: 30px;
    z-index: 2;
    font-size: 3.5em;
    letter-spacing: 1px;
    font-weight: 800; }
    @media (max-width: 970px) {
      body.article-page .article-header h1, body.article-page .article-header .subtitle {
        width: 60%; } }
    @media (max-width: 820px) {
      body.article-page .article-header h1, body.article-page .article-header .subtitle {
        width: 55%; } }
    @media (max-width: 780px) {
      body.article-page .article-header h1, body.article-page .article-header .subtitle {
        width: 100%; } }
    @media (max-width: 600px) {
      body.article-page .article-header h1, body.article-page .article-header .subtitle {
        font-size: 2.5em; } }
    @media (max-width: 480px) {
      body.article-page .article-header h1, body.article-page .article-header .subtitle {
        text-align: center; } }
  body.article-page .article-header .subtitle {
    font-size: 1em;
    font-style: italic;
    color: #888;
    line-height: 1.4;
    font-weight: 300;
    letter-spacing: 0.02em; }
    @media (max-width: 480px) {
      body.article-page .article-header .subtitle {
        font-weight: 800;
        letter-spacing: 0.01em; } }
body.article-page .article-text {
  color: #191919;
  width: 600px;
  font-size: 22px;
  line-height: 1.2em;
  margin-top: 35px;
  margin-bottom: 40px;
  margin-right: 100px; }
  body.article-page .article-text p.caption {
    font-style: italic;
    color: #999;
    margin-top: 5px;
    line-height: 1.3;
    font-size: 0.7em; }
  body.article-page .article-text iframe {
    margin-top: 25px;
    width: 100%; }
  body.article-page .article-text a {
    color: #191919;
    text-decoration: none;
    box-shadow: inset 0 -4px 0 #5ea6df;
    border-bottom: 1px solid #5ea6df;
    transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1); }
  body.article-page .article-text a:hover {
    color: white;
    background-color: #5ea6df;
    transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1); }
  body.article-page .article-text img {
    margin: 20px 0 0 0;
    max-width: 166.5%; }
    @media (max-width: 780px) {
      body.article-page .article-text img {
        max-width: 100%; } }
  body.article-page .article-text h3 {
    font-size: 1em;
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: 600; }
  body.article-page .article-text p {
    margin-top: 20px;
    letter-spacing: 0.01em;
    font-weight: normal; }
  body.article-page .article-text p:first-child {
    margin-top: 0px; }
  @media (max-width: 970px) {
    body.article-page .article-text {
      width: 60%; } }
  @media (max-width: 820px) {
    body.article-page .article-text {
      width: 55%; } }
  @media (max-width: 780px) {
    body.article-page .article-text {
      width: 100%; } }
  @media (max-width: 480px) {
    body.article-page .article-text {
      margin-top: 25px; } }
body.article-page .bottom-bar {
  opacity: 0.98;
  position: fixed;
  border-top: 1px solid #ddd;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background: white;
  padding: 10px 10px 10px 0;
  z-index: 3;
  display: none; }
  body.article-page .bottom-bar ul {
    float: left;
    display: inline; }
  body.article-page .bottom-bar li {
    display: inline; }
  body.article-page .bottom-bar img {
    width: 25px;
    height: 25px; }
  body.article-page .bottom-bar .bottom-bar-wrap {
    width: 950px;
    margin: 0 auto; }
    @media (max-width: 1030px) {
      body.article-page .bottom-bar .bottom-bar-wrap {
        margin-left: 3%;
        transition: all 0.25s ease;
        width: 100%; } }
    @media (max-width: 970px) {
      body.article-page .bottom-bar .bottom-bar-wrap {
        margin-left: 3%; } }
    @media (max-width: 710px) {
      body.article-page .bottom-bar .bottom-bar-wrap .byline {
        display: none; } }
    @media (max-width: 600px) {
      body.article-page .bottom-bar .bottom-bar-wrap {
        display: none; } }
  body.article-page .bottom-bar p {
    margin-left: 10px;
    top: 5px;
    display: inline;
    letter-spacing: 0.025em; }
    body.article-page .bottom-bar p.byline {
      text-transform: none;
      margin: 0; }
    body.article-page .bottom-bar p span {
      font-weight: 800; }
body.article-page .unhide {
  display: block; }
body.article-page .social-top {
  position: absolute !important;
  top: 415px; }
  body.article-page .social-top img {
    margin-top: -3px;
    width: 50px;
    height: 50px; }
  @media (max-width: 1180px) {
    body.article-page .social-top {
      display: none; } }
body.article-page .photo-credit {
  z-index: 2;
  color: #bbb;
  float: right;
  font-style: italic;
  letter-spacing: 0.05em;
  font-weight: 300;
  margin-top: -30px;
  margin-right: 2%; }

.fancybox .card.story-ytv h1 {
  color: white;
  position: absolute; }
.fancybox .card.story-ytv .card-image {
  position: absolute;
  left: -42%;
  top: 0;
  width: auto;
  height: 214.18px; }
.fancybox .card.story-ytv time {
  color: white;
  position: absolute;
  bottom: 15px; }
.fancybox .card.story-ytv p.category {
  color: #bbb; }
.fancybox .card.story-ytv::after {
  background-color: rgba(25, 25, 25, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute; }
.fancybox .card.story-ytv .byline {
  display: none; }
.fancybox .card.story-ytv:hover:after {
  background-image: url("../images/play_button.svg");
  background-position: center;
  background-repeat: no-repeat; }
.fancybox .card.story-ytv:hover h1 {
  opacity: .5; }

.card.author-card {
  height: 460.86px;
  width: 460.86px;
  border-bottom: none;
  top: 32px;
  background-color: #4DC293; }
  .card.author-card h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    color: white;
    font-size: 50px;
    letter-spacing: 2px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px; }
  .card.author-card h3 {
    display: inline-block;
    color: #AFF7DD;
    letter-spacing: 1.2px;
    font-size: 18px; }
  .card.author-card i {
    margin-left: 40px;
    margin-top: 3%;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 9.5px;
    background: #7DF2C4;
    color: white;
    text-align: center; }
  .card.author-card a {
    text-decoration: none; }
  .card.author-card .author-twitter, .card.author-card .author-email {
    display: block; }
  .card.author-card .author-title {
    bottom: 60px;
    color: white; }
  .card.author-card .archive {
    bottom: 40px;
    color: #AFF7DD; }
  .card.author-card :not(.card-image) {
    z-index: 2; }
.card.author-photo .card-image {
  height: 100%;
  width: auto;
  position: absolute;
  left: 0;
  z-index: 0;
  top: 0;
  height: 463.86px; }
.card.author-photo::after {
  background: -moz-linear-gradient(to right top, rgba(77, 194, 147, 0.95) 30%, rgba(77, 194, 147, 0.2) 100%), no-repeat;
  background: -webkit-linear-gradient(to right top, rgba(77, 194, 147, 0.95) 30%, rgba(77, 194, 147, 0.2) 100%), no-repeat;
  background: -o-linear-gradient(to right top, rgba(77, 194, 147, 0.95) 30%, rgba(77, 194, 147, 0.2) 100%), no-repeat;
  background: -ms-linear-gradient(to right top, rgba(77, 194, 147, 0.95) 30%, rgba(77, 194, 147, 0.2) 100%), no-repeat;
  background: linear-gradient(to right top, rgba(77, 194, 147, 0.95) 30%, rgba(77, 194, 147, 0.2) 100%), no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute; }

@media (max-width: 1030px) {
  .is-sticky a {
    padding: 10px !important; } }
@media (max-width: 980px) {
  nav#site-navigation a {
    font-size: 13px !important;
    padding: 8px !important; }
  nav#site-navigation #nav-search {
    font-size: 12px;
    padding-left: 6px !important;
    padding-right: 6px !important; }

  section.category {
    margin: 0 auto;
    margin-top: 3%;
    width: 710px; }

  section.front-page {
    margin-top: 40px; }

  section.magazine, section.weekend {
    width: 100%; }
    section.magazine h2, section.weekend h2 {
      margin-left: 10%; }

  .card {
    width: 211.18px; }
    .card.story {
      width: 211.18px; }
    .card.story-major, .card.story-kahuna {
      width: 460.86px; }
    .card.story-kahuna {
      width: 710.54px; }
      .card.story-kahuna h1 {
        font-size: 40px; }
    .card.story-softcore .card-image {
      height: 100%;
      width: auto;
      left: -42%; }

  .story-softcore-cover {
    height: 450px; }
    .story-softcore-cover h1, .story-softcore-cover .byline {
      margin-left: 10%; }
    .story-softcore-cover h1 {
      font-size: 2em;
      margin-top: -40%; }
    .story-softcore-cover .subtitle {
      display: none; }

  .section-wrap {
    padding-top: 50px; }

  section.front-page {
    margin-top: 25px; }
    section.front-page p.category {
      display: block; }
    section.front-page time {
      bottom: 30px; } }
@media (max-width: 880px) {
  #small-logo {
    display: none !important; } }
@media (max-width: 810px) {
  nav#site-navigation a {
    font-size: 12px !important;
    padding: 6px !important; }

  #nav-search {
    font-size: 12px;
    padding-left: 6px !important;
    padding-right: 6px !important; } }
@media (max-width: 710px) {
  section.category {
    margin: 0 auto;
    width: 460px;
    margin-top: 3%; }

  section.kahuna {
    width: 100%;
    margin-top: 50px; }

  section.magazine, section.weekend {
    width: 100%; }

  .card.story {
    width: 211.18px; }
  .card.story-major, .card.story-kahuna {
    width: 460.86px; }
  .card.story-kahuna {
    width: 100%; }
    .card.story-kahuna .card-image {
      width: auto;
      height: 100%; }
    .card.story-kahuna h1 {
      font-size: 2.5em; }
  .card.story-breaking .breaking {
    top: 0;
    right: 0;
    width: 100%;
    height: 35px;
    padding: 10px;
    position: relative;
    background-color: red;
    text-align: center; }
    .card.story-breaking .breaking h3 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8em;
      color: white;
      display: inline-block; }
      .card.story-breaking .breaking h3:after {
        content: " ·";
        font-weight: 800;
        color: rgba(255, 255, 255, 0.75); }
    .card.story-breaking .breaking time {
      position: relative;
      font-size: 0.8em;
      bottom: auto;
      margin: 0;
      display: inline-block; }

  .story-softcore-cover {
    height: 300px; }
    .story-softcore-cover h1, .story-softcore-cover .byline {
      margin-left: 10%; }
    .story-softcore-cover h1 {
      font-size: 2em;
      margin-top: -40%; }
    .story-softcore-cover .subtitle {
      display: none; }
    .story-softcore-cover.magazine {
      height: 300px; }

  .section-wrap {
    padding-top: 50px; }

  section.magazine, section.weekend {
    width: 100%; }
    section.magazine h2, section.weekend h2 {
      margin-left: 10%; }

  #site-header {
    display: none; }

  #mobile-header {
    display: block; }

  #mobile-xc {
    display: none !important; } }
@media (min-width: 480px) {
  section.front-page .card.story-simple time, section.front-page .card.story-preview time, section.front-page .card.story-photo time, section.front-page .card.story-opinion time {
    bottom: 30px !important; } }
@media (max-width: 480px) {
  a {
    text-decoration: none; }

  #mobile-xc {
    display: inline-block !important; }

  #xc-web {
    display: none; }

  section.opinion, section.university, section.city,
  section.sports, section.culture,
  section.scitech, section.ytv {
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: 1px solid #ddd; }

  section.kahuna.category {
    width: 100% !important; }

  section.category {
    margin: 50px auto 0 auto;
    width: 90%; }
    section.category h2 {
      font-size: 2em;
      margin: -50px 0px 25px 0px; }

  section.front-page {
    margin-bottom: 50px;
    margin-top: 0; }
    section.front-page .story-opinion {
      display: none; }

  section.magazine, section.weekend {
    width: 100%; }

  section.magazine {
    margin-bottom: -60px; }
    section.magazine .subtitle {
      display: none; }

  section.opinion {
    padding-bottom: 40px; }
    section.opinion .category {
      line-height: 1.2; }

  section.university .card {
    border-bottom: 2px solid #2882C8; }

  section.city .card {
    border-bottom: 2px solid #00be64; }

  section.culture .card {
    border-bottom: 2px solid #d20a78 !important; }

  section.scitech .card {
    border-bottom: 2px solid #f7ca18; }

  section.sports .card {
    border-bottom: 2px solid #42d2ff; }

  section.weekend {
    margin-top: 50px;
    margin-bottom: 50px; }
    section.weekend > h2 {
      margin-left: 7%; }
    section.weekend .story-softcore-cover {
      margin-bottom: auto; }

  section.magazine h2, section.weekend h2 {
    margin-left: 7%; }

  .story-softcore-cover {
    height: 260px !important; }
    .story-softcore-cover h1, .story-softcore-cover .byline {
      margin-left: 7%; }
    .story-softcore-cover h1 {
      font-size: 2em;
      margin-top: -150px; }
    .story-softcore-cover .byline {
      margin-top: 10px;
      font-size: 0.7em; }

  section#weekend {
    padding-bottom: 25px; }

  section#opinion .link-wrap {
    display: inline; }

  .card {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden; }
    .card .byline {
      opacity: 0.7; }
    .card.story {
      border-width: 2px !important; }
      .card.story h1 {
        margin-bottom: 7px; }
    .card.story > time {
      position: relative;
      bottom: 0px;
      color: #aaa;
      font-weight: 600;
      font-size: 0.75em;
      letter-spacing: 0.025em; }
    .card.story-weekend {
      border-bottom: 2px solid #fe9e48; }
    .card.story-breaking .breaking {
      top: 0;
      right: 0;
      width: 100%;
      height: 35px;
      padding: 10px;
      position: relative;
      background-color: red;
      text-align: center; }
      .card.story-breaking .breaking h3 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.8em;
        color: white;
        display: inline-block; }
        .card.story-breaking .breaking h3:after {
          content: " ·";
          font-weight: 800;
          color: rgba(255, 255, 255, 0.75); }
      .card.story-breaking .breaking time {
        position: relative;
        font-size: 0.8em;
        bottom: auto;
        margin: 0;
        display: inline-block; }
    .card.story-simple {
      height: auto;
      width: 100%;
      background-color: white;
      padding-bottom: 17.5px; }
      .card.story-simple::after {
        background: #f6f4f4; }
      .card.story-simple img {
        display: none; }
      .card.story-simple .category {
        display: none; }
      .card.story-simple h1 {
        color: #433f3f; }
    .card.story-softcore {
      width: 100%;
      height: 203px;
      background-color: white; }
      .card.story-softcore time {
        display: none; }
      .card.story-softcore .card-image {
        display: block;
        width: 100%;
        height: auto;
        left: 0; }
    .card.story-major, .card.story-kahuna, .card.story-opinion {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      background-color: white; }
      .card.story-major p.card-preview, .card.story-kahuna p.card-preview, .card.story-opinion p.card-preview {
        display: none; }
      .card.story-major h1, .card.story-kahuna h1, .card.story-opinion h1 {
        font-size: 24px;
        font-weight: 600; }
      .card.story-major .card-image, .card.story-kahuna .card-image, .card.story-opinion .card-image {
        display: block;
        width: 100%;
        height: 100%; }
    .card.story-opinion {
      width: 48%;
      padding-bottom: 48%;
      display: inline-block;
      margin-right: 4px;
      margin-bottom: 3px; }
      .card.story-opinion h1 {
        font-size: 19px; }
      .card.story-opinion .card-image {
        display: inline-block; }
    .card.story-kahuna {
      width: 100%;
      margin-bottom: 25px;
      background-color: white; }
      .card.story-kahuna .card-image {
        display: block;
        width: auto;
        height: 100%; }
      .card.story-kahuna h1 {
        margin-left: 0px;
        font-size: 24px; }
    .card.story-photo, .card.story-preview, .card.story-mag, .card.story-weekend {
      width: 100%;
      background-color: white;
      height: auto;
      padding-bottom: 20px;
      overflow: hidden; }
      .card.story-photo h1, .card.story-preview h1, .card.story-mag h1, .card.story-weekend h1 {
        color: #433f3f; }
      .card.story-photo .category, .card.story-preview .category, .card.story-mag .category, .card.story-weekend .category {
        display: none; }
      .card.story-photo .card-image, .card.story-preview .card-image, .card.story-mag .card-image, .card.story-weekend .card-image {
        left: 70%;
        width: 50%;
        height: auto; }
      .card.story-photo .card-preview, .card.story-photo .byline, .card.story-preview .card-preview, .card.story-preview .byline, .card.story-mag .card-preview, .card.story-mag .byline, .card.story-weekend .card-preview, .card.story-weekend .byline {
        display: none; }
    .card.story-mag .byline, .card.story-weekend .byline {
      display: inline; }
    .card.story-photo::after, .card.story-mag::after, .card.story-weekend::after {
      background: -moz-linear-gradient(to right, white 70%, rgba(255, 255, 255, 0.96) 75%, rgba(255, 255, 255, 0.9) 80%, rgba(255, 255, 255, 0.5) 100%), no-repeat;
      background: -webkit-linear-gradient(to right, white 70%, rgba(255, 255, 255, 0.96) 75%, rgba(255, 255, 255, 0.9) 80%, rgba(255, 255, 255, 0.5) 100%), no-repeat;
      background: -o-linear-gradient(to right, white 70%, rgba(255, 255, 255, 0.96) 75%, rgba(255, 255, 255, 0.9) 80%, rgba(255, 255, 255, 0.5) 100%), no-repeat;
      background: -ms-linear-gradient(to right, white 70%, rgba(255, 255, 255, 0.96) 75%, rgba(255, 255, 255, 0.9) 80%, rgba(255, 255, 255, 0.5) 100%), no-repeat;
      background: linear-gradient(to right, white 70%, rgba(255, 255, 255, 0.96) 75%, rgba(255, 255, 255, 0.9) 80%, rgba(255, 255, 255, 0.5) 100%), no-repeat;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      position: absolute; }
    .card.cross-campus {
      padding-bottom: 15px;
      border-left: 3px solid #2a9dea; }
      .card.cross-campus .xc-content {
        height: 100%; }
      .card.cross-campus #xc-close-button {
        display: inline;
        float: right;
        margin-top: -40px;
        margin-right: 5px;
        cursor: pointer; }
      .card.cross-campus #xc {
        width: 100%;
        text-align: center;
        height: 50px;
        margin: 0 0 0 0;
        font-size: 1.25em;
        font-weight: 600;
        text-transform: uppercase;
        font-style: normal;
        font-family: "Avenir", "Helvetica-Neue", "Arial", "Helvetica", sans-serif; }
      .card.cross-campus #xc p {
        padding: 24px 20px 20px 20px;
        letter-spacing: 2px;
        color: white;
        opacity: 0.9;
        margin-top: -5px; }
      .card.cross-campus::after {
        background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(25, 25, 25, 0) 100%), no-repeat;
        background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(25, 25, 25, 0) 100%), no-repeat;
        background: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(25, 25, 25, 0) 100%), no-repeat;
        background: -ms-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(25, 25, 25, 0) 100%), no-repeat;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(25, 25, 25, 0) 100%), no-repeat; }

  .story-softcore-cover {
    margin-top: -125px; }
    .story-softcore-cover .weekend::after {
      background: -moz-linear-gradient(to bottom, rgba(25, 25, 25, 0.5) 0%, rgba(25, 25, 25, 0.5) 100%), no-repeat;
      background: -webkit-linear-gradient(to bottom, rgba(25, 25, 25, 0.5) 0%, rgba(25, 25, 25, 0.5) 100%), no-repeat;
      background: -o-linear-gradient(to bottom, rgba(25, 25, 25, 0.5) 0%, rgba(25, 25, 25, 0.5) 100%), no-repeat;
      background: -ms-linear-gradient(to bottom, rgba(25, 25, 25, 0.5) 0%, rgba(25, 25, 25, 0.5) 100%), no-repeat;
      background: linear-gradient(to bottom, rgba(25, 25, 25, 0.5) 0%, rgba(25, 25, 25, 0.5) 100%), no-repeat;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      position: absolute; } }
form input {
  background-color: #f6f4f4;
  padding: 5px;
  width: 90%;
  margin: 10px auto 0 auto;
  border: none;
  font-family: Avenir;
  font-style: italic;
  font-size: 0.9em; }

.university .category {
  color: #2882C8; }
.university .category-jump {
  background-color: #2882C8;
  color: white; }
.university.card {
  border-bottom: thick solid #2882C8; }

.opinion .story .category {
  color: #cf383e; }
.opinion .category-jump {
  background-color: #cf383e;
  color: white; }

.city .category {
  color: #00be64; }
.city .category-jump {
  background-color: #00be64;
  color: white; }
.city.card {
  border-bottom: thick solid #00be64; }

.scitech .category {
  color: #f7ca18; }
.scitech .category-jump {
  background-color: #f7ca18;
  color: white; }
.scitech.card {
  border-bottom: thick solid #f7ca18; }

.culture .category {
  color: #d20a78; }
.culture .category-jump {
  background-color: #d20a78;
  color: white; }
.culture.card {
  border-bottom: thick solid #d20a78; }

.ytv .category {
  color: #c89664; }
.ytv .category-jump {
  background-color: #c89664;
  color: white; }
.ytv.card {
  border-bottom: thick solid #c89664; }

.magazine .category {
  color: #00b4b4; }
.magazine .category-jump {
  background-color: #00b4b4;
  color: white; }
.magazine.card {
  border-bottom: thick solid #00b4b4; }

.weekend .category {
  color: #fe9e48; }
.weekend .category-jump {
  background-color: #fe9e48;
  color: white; }
.weekend.card {
  border-bottom: thick solid #fe9e48; }

.sports .category {
  color: #42d2ff; }
.sports .category-jump {
  background-color: #42d2ff;
  color: white; }
.sports.card {
  border-bottom: thick solid #42d2ff; }

.university-color {
  color: #2882C8 !important; }

.opinion-color {
  color: #cf383e !important; }

.city-color {
  color: #00be64 !important; }

.scitech-color {
  color: #f7ca18 !important; }

.culture-color {
  color: #d20a78 !important; }

.ytv-color {
  color: #c89664 !important; }

.magazine-color {
  color: #00b4b4 !important; }

.weekend-color {
  color: #fe9e48 !important; }

.sports-color {
  color: #42d2ff !important; }

/*# sourceMappingURL=style.css.map */
