/*
Error: Invalid CSS after "": expected selector, was "<<<<<<< HEAD"
        on line 719 of scss/style.scss

714:       }
715:     }
716:   }
717: }
718: 
719: <<<<<<< HEAD
720: 
721: 
722: 
723: 
724: 

Backtrace:
scss/style.scss:719
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/scss/parser.rb:1165:in `expected'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/scss/parser.rb:1081:in `expr!'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/scss/static_parser.rb:20:in `parse_selector'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:424:in `visit_rule'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/listen-2.8.0/lib/listen/listener.rb:282:in `call'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/listen-2.8.0/lib/listen/listener.rb:282:in `_process_changes'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/listen-2.8.0/lib/listen/listener.rb:246:in `block in _wait_for_changes'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/listen-2.8.0/lib/listen/listener.rb:229:in `loop'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/listen-2.8.0/lib/listen/listener.rb:229:in `_wait_for_changes'
/Users/jason/.rvm/gems/ruby-2.1.4/gems/listen-2.8.0/lib/listen/listener.rb:318:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"\": expected selector, was \"<<<<<<< HEAD\"\A         on line 719 of scss/style.scss\A \A 714:       }\A 715:     }\A 716:   }\A 717: }\A 718: \A 719: <<<<<<< HEAD\A 720: \A 721: \A 722: \A 723: \A 724: "; }
