  @mixin grid {
    width: 18%;
    margin: 1%;
    float: left;
    @media (max-width: 1366px) {
      width: 23%;
    }
    @media (max-width: 1024px) {
      width: 31.333%;
    }
    @media (max-width: 600px) {
      width: 48%;
    }
    @media (max-width: 360px) {
      display: block;
      width: 96%;
      margin: 2%;
      float: none;
    }
  }
  @mixin hover {
    opacity: 1;
    &:hover, &:active, &:focus {
      opacity: 0.75;
    }
  }

body.article-page {
  .box {
    width:75%;
    margin-left: 10%;

    @media (max-width: 480px) {
      width: 90%;
      margin: 0 auto;
    }
  }


  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }


  h1{
    @extend %face-serif;
    letter-spacing: 1.2px;
  }
  
  %more-from {
    border-bottom: none;
    @extend %face-sans;
    font-weight: normal;
    height: auto;
    overflow: hidden;
    background-color: white;

    .most-read {
      padding: 0 20px;
    }
    h2{
        background-color: $university-color;
        font-size: 19px;
        font-weight: 800;
        text-transform: uppercase;
        @extend %face-sans;
        padding: 15px 10px;
        letter-spacing: 0.075em;
        text-align: center;
        color: rgba(255, 255, 255, 0.9);
      }
    a{
      text-decoration: none;
      border-bottom: 1px solid #eee;
      display: block;
      margin: 20px 0px;
      color: #191919;
      letter-spacing: 0.01em;
      line-height: 1.2em;
      padding-bottom: 15px;
      transition: all 0.25s ease;
    }

    a:hover{
  
      color: $university-color;
      transition: all 0.25s ease;
    }

    a:last-child {
      border-bottom: none;
      padding-bottom: 0;

    }
  }

  .card {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
  }
  
  .more-from-top {
    @extend %more-from;
    width: 250px;
    float:right;
    margin-top: 70%;
    @media(max-width: 980px){
      display: none;
    }
  }

  .more-from-bottom {
    @media(min-width: 980px){
      display: none;
    }
    @extend %more-from;
    width: 60%;
  }


  .hero-image {
    width: 100%;
    max-width: 100%;
    height: 500px;
    overflow: hidden;
    z-index: 1;

    &:after {
    background: linear-gradient(to bottom , rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), no-repeat;
    
      
      top: 0;
      left: 0;
      width:100%;
      height:100%;
      content: "";
      position: absolute;
    }
  }

  .byline{
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1.5px;
    margin-top: 20px;
    margin-left: 0;
    z-index: 2;

    a {
      color: $university-color;
      text-decoration: none;
    }

    date, time {
      color: #aaa;
    }

    

    a:after {
      content: "|";
      margin-left: 10px;
      margin-right: 10px;
      color: #ccc;
    }
  }

  .article-header {
    width: 90%;
    margin-bottom: 100px;


    h1{
      margin-top: -225px;

      color: white;
      z-index: 2;
      width: 75%;
      font-size: 66.67px;
      letter-spacing: 1px;
      font-weight: 800;
    }

    @media(max-width: 980px){
      width: 100%;
      margin-top: 50px;
      h1{
        font-size: 50px;
        letter-spacing: 1px;
        font-weight: 700;
      }
    }
    @media(max-width: 550px){
      margin-top: 20px;
      h1{
        font-size: 30px;
        letter-spacing: 1px;
        font-weight: 700;
      }
      .byline {
        font-size: 10px;
      }
    }
  }

  .article-text {
    width: 60%;
    font-size: 21.33px;
    line-height: 1.2em;
    margin-bottom: 40px;
    margin-right: 100px;
    img {
      margin: 20px 0 0 0;
      max-width: 166.5%;
    }
    h3 {
      @extend %face-serif;
      font-size: 1em;
      margin-top: 20px;
      letter-spacing: 1px;
      font-weight: 600;
    }
    p {
      margin-top: 20px;
      letter-spacing: 0.01em;
      font-weight: normal;
    }
    @media(max-width:980px){
      width: 90%;
      img {
        max-width: 110%;
      }
    }

    @media(max-width: 780px){
      width: 100%;
      img {
        max-width: 100%;
      }
    }
    @media(max-width: 550px){
      font-size: 18px;
    }
  }

  .bottom-bar{
    position:fixed;
    border-top: 1px solid #ddd;
    left:0px;
    bottom:0px;
    width:100%;
    background:white;
    padding: 10px 10px 10px 0;
    z-index: 3;
    display: none;
    p{
      margin-left: 10%;
      padding-top: 11px;
      padding-bottom: 11px;
      display: inline;
      letter-spacing: 0.025em;
      &.byline{
        text-transform: none;
        margin: 0;      
      }
      span {
        font-weight: 800;
      }
    }
    @media(max-width: 550px){
      p{
        font-size: 10px;
      }
    }
  }

  .unhide{
    display: block;
  }
  

}

.fancybox{
  // display: inline !important;
.card{
  &.story-ytv{
    // display: inline-block;
    h1 {
      color: white;
      position: absolute;
    }
    .card-image{
      position: absolute;
      left: -42%;
      top: 0;
      width: auto;
      height: $card-height + $card-border-width;
    }
    time{
      color:white;
      position: absolute;
      bottom: 15px;
    }
    p.category {
      color: #bbb;
    }
    &::after {
    background-color: rgba(25, 25, 25, 0.6);
    
      
      top: 0;
      left: 0;
      width:100%;
      height:100%;
      content: "";
      position: absolute;
    }
    .byline {
      display: none;
    }
    
    &:hover:after{
    background-image: url("../images/play_button.svg");
    background-position: center;
    background-repeat: no-repeat;
    }
    &:hover{
          h1{
      opacity: .5;
    }
    }

  }
}
}



//CHECK TO SEE IF WE WANT THIS CARD MOVING


//   .card {
//     width: 25%;
//     background-color: white;
//     overflow: hidden;
//     z-index: -2;
//     float:right;
//     border-top: 5px solid $university-color;
//     border-bottom: none;
//     @extend %face-sans;
//     padding: 10px 15px 10px 15px;
//     font-weight: normal;
//     height: auto;
//     h2{
//       font-size: 22px;
//       margin-top: 10px;
//       @extend %face-serif;
//       font-style: italic;
//       font-weight: 600;
//       line-height: 1.2;
//       letter-spacing: 0.025em;
//     }
//     a{
//       text-decoration: none;
//       display: block;
//       margin: 20px 0px;
//       color: black;
//       font-size: 13px;
//       letter-spacing: 0;
//     }
//   }


