.card{

    &.author-card {
    height: 2 * $card-height + $gutter-size;
    width: 2 * $card-height + $gutter-size;
    border-bottom: none;
    top: 32px;
    background-color: #4DC293;

    h1{
      font-family: 'Playfair Display', serif;
      font-weight: bolder;
      color: white;
      font-size: 50px;
      letter-spacing: 2px;
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 40px;
    }

    h3{
      display: inline-block;
      color: #AFF7DD;
      letter-spacing: 1.2px;
      font-size: 18px;
    }
    i {
      margin-left: 40px;
      margin-top: 3%;
      border-radius: 50%;
    

      width: 36px;
      height: 36px;
      padding: 9.5px;

      background: #7DF2C4;
      color: white;
      text-align: center; 
    } 
    a{
      text-decoration: none; 
    }
    .author-twitter, .author-email{
      display: block;
    }
    .author-title{
      bottom: 60px;
      color: white;
      @extend %time-category-style;
    }
    .archive{
      bottom: 40px;
      color:#AFF7DD;
      @extend %time-category-style;
    }
    :not(.card-image) {
      z-index: 2;
    }
  }

  &.author-photo{
    .card-image {
      height: 100%;
      width: auto;
      position: absolute;
      left: 0;
      z-index: 0;      
      top:0;
      height: 2 * $card-height + $gutter-size + $card-border-width;
    }

    &::after {
      @include bg-gradienter (( to right top, rgba(77,194,147, 0.95) 30%, rgba(77,194,147, 0.2) 100% ));
      top: 0;
      left: 0;
      width:100%;
      height:100%;
      content: "";
      position: absolute;
    }
  }
}