@import "html5-reset", "grid";

%face-sans {
  font-family: "Avenir", "Helvetica-Neue", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
}

%face-serif {
  font-family: 'Playfair Display', "Georgia", serif;
  font-weight: 400;
}

%face-header {
  @extend %face-sans;
  letter-spacing: .05em;
  line-height: 1.2;
  font-weight: 600;
  color: #433f3f;
  margin: 15px;
}


//style notes
//title = 50pt, letter spacing 5px, line height = auto
//author and date = 14pt avenir fontstyle heavyweight, letter spacing 2px, 

body {
  background-color: #f6f4f4;
  font-family: Avenir;
}

h1{
  font-family: 'Playfair Display', serif;
  letter-spacing: 1.2px;
}

header {
  background-color: #ffffff;
  .header {
    width: 210px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    }

  .navigation{ 
    background-color: #ffffff;
    box-shadow: 0 4px 2px -2px gray;
    text-align: center;
    z-index:100;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-link {
    @extend %face-header;
    text-transform: uppercase;
    text-decoration: none;
    color: #938383; 
    }

  }



.author{
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1.8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  background-color: white;
  // box-shadow: 0 0 5px 0;
  img {
    width: 175px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  padding-top: 5px;
  padding-bottom: 5px;
}

.article-header {
  margin-top: 75px;
  h1{
    font-size: 66.67px;
    letter-spacing: 3px;
  }
  p {
    text-transform: uppercase;
    font-size: 18.67px;
    font-style: heavyweight;
    letter-spacing: 2px;
    margin-top: 45px;
    margin-bottom: 40px;
  }
  @extend .nine.columns;
}

.article-text{
  //body = 16 avenir fontstyle book, letter spacing 2 or 4px 1.4em, line height 22pt - 8px
  font-size: 21.33px;
  font-style: book;
  //letter-spacing: 1.4em;
  line-height: 1.2em;
  @extend .six.columns;
  margin-bottom: 40px;

}

.article-body-img{
  margin-top: 20px;
  max-width: 960px;
}

p{
  margin-top: 20px;
  font-size: 0.8em;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  margin-top: 20px;
  letter-spacing: 1.5px;

}

  



.card {
  @extend .four.columns;
  background-color: white;
  overflow: hidden;
  z-index: 2;
  float:right;
  border-top: thick solid black;
  font-style: Avenir;
  padding: 10px 15px 10px 15px;
  h2{
    font-size: 22px;
    margin-top: 10px;
    @extend %face-serif;
    font-style: italic;
    font-weight: 600;
  }
  a{
    text-decoration: none;
    display: block;
    margin: 10px 0px 10px 0px;
    color: black;
    font-size: 13px;
  }
}

.stories {
}

.bottom-bar{
  position:fixed;
  left:0px;
  bottom:0px;
  height:40px;
  width:100%;
  background:white;
  padding: 10px 10px 10px 20px;
  z-index: 3;
  p{
    display: inline;
    &.byline{
      font-style: italic;
    }
  }
}

@media(max-width:400px) {

}