@import "html5-reset", "grid";

%face-sans {
  font-family: "Avenir", "Helvetica-Neue", "Arial", "Helvetica", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}

%face-serif {
  font-family: 'Playfair Display', "Georgia", serif;
  font-weight: 400;
}

%time-category-style{
  text-transform: uppercase;
  position: absolute;
  letter-spacing: 0.1em;
  font-size: .75em;
  color: #696565;
  margin-left: 15px;
}

@mixin bg-gradienter($args) {
  background: -moz-linear-gradient($args), no-repeat;
  background: -webkit-linear-gradient($args), no-repeat;
  background: -o-linear-gradient($args), no-repeat;
  background: -ms-linear-gradient($args), no-repeat;
  background: linear-gradient($args), no-repeat;
}

$card-height: 211.18px;
$card-width:211.18px;
$gutter-height: 38.5px;

body {
	background-color: #f6f4f4;
  @extend %face-sans;
}

%face-header {
  @extend %face-serif;
	letter-spacing: .025em;
  line-height: 1.2;
  font-weight: 600;
  color: #433f3f;
  margin: 15px;
}

p {
	font-size: 0.8em;
}

.container{
  &:first-of-type{
    margin-top: 2%;
  }
  margin-top: 6%;
  display: table;
}

.byline {
  text-transform: uppercase;
  letter-spacing: 1.8;
  line-height: 1.4;
  font-weight: 600; 
  color: #696565;
  margin-left: 15px;
}


$card-border-width: 3px;

$university-color: #2882C8;
$opinion-color: #cf383e;
$city-color: #00beb4;
$scitech-color: #ffdc00;
$sports-color:#42d2ff;
$ytv-color: #fe9e48;
$weekend-color: #ff050a;
$magazine-color: #bef0b4;
$culture-color: #d20a78;


.card {
  @extend .three.columns;
	background-color: white;
	height: $card-height;
  overflow: hidden;
  z-index: 2;
  border-style: solid;
  border-bottom: thick solid $university-color;

  &.category-jump{
    bottom: 0;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    color: white;
    line-height: 1.8em;
    p {
      margin-top: 120px;
      line-height: 1.2;
    }
    strong {
      font-style: italic;
      font-size: 35px;
      font-weight: 700;
      display: block;
      @extend %face-serif;
      text-transform: lowercase;
      letter-spacing: 1.3px;
      color: white;
    }
  }

    //  headline - playfair bold 20pt, line spacing 20px, 
    //  author - avenir, font style heavy, text size 10px, letter spacing - 2px
    //  preview - avenir medium, 12 pt (preview box is font style avenir black, 800, letter space 2px, see university = 50% capacity-->
  h1 {
    @extend %face-header;
    font-size: 20px;
  }
  &.story {
    .byline {
      text-transform: uppercase;
      font-size: 0.8em;
      margin-top: 10px;
      margin-bottom: 10px;
      letter-spacing: .075em;
    }
    .card-preview {
      line-height: 1.3em;
      letter-spacing: .02em;
      font-weight: 300;
      margin-left: 15px;
      margin-right: 15px;
      z-index: 11;
    }
    time {
      bottom: 30px;
      color: #433f3f; 
      @extend %time-category-style;
    }
    .category{
      bottom: 15px;
      color: $university-color;
      @extend %time-category-style;
    }
    :not(.card-image) {
      z-index: 2;
    }
    .card-image {
      height: 100%;
      width: auto;
      position: absolute;
      //top: 0;
      left: 0;
      z-index: 0;

    }
  }


  &.story-major {
    height: 2 * $card-height + $gutter-height;
    border-bottom: none;
    h1, p, time {
      color: white;
    }

    p.category {
      color: #bbb;
    }

    @extend .six.columns;
    .card-image {
      top:0;
      height: 2 * $card-height + $gutter-height + $card-border-width;
    }
    h1, p {
      z-index: 2;
      @extend .six.columns;
    }
    &::after {
      @include bg-gradienter (( to top right, rgba(0, 0, 0, 0.75) 0%, rgba(40, 130, 200, 0.75) 100% ));
      top: 0;
      left: 0;
      width:100%;
      height:100%;
      content: "";
      position: absolute;
    }
  }

  &.story-kahuna{
    @extend .twelve.columns;
    @extend .story-major;
    .card-image{
      top:0;
      width: 100%;
      height: auto; 
    }
    h1{
      @extend .nine.columns;
      font-size: 60px;
      padding-left: 15px;
      font-weight: 400;
    }
  }

  &.story-breaking{
    .breaking{
      top: 0;
      right: 0;
      width: 140px;
      height: 66px;
      padding: 20px;
      // display: -webkit-flex; /* Safari */
      // -webkit-justify-content: space-around; /* Safari 6.1+ */
      // display: flex;
      position: absolute;
      background-color: red;
      text-align: center;
      h3{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1em;
        color: white;
      }
      time{
        position: relative;
        font-size: 0.675em;
        bottom: auto;
        margin: 0;
       }
    }
  }

  &.story-preview {
    height: 2 * $card-height + $gutter-height;
    .card-preview{
      color:#696565;
    }
    time {
      color: #696565;
    }

  }

  &.story-photo {
    height: 2 * $card-height + $gutter-height;
    .card-image{
      height:50%;
      bottom: 0;
    }
    .card-preview{
      color:#696565;
    }
    time {
        color: white;
      }

    p.category {
      color: #bbb;
    }

    &::after {
      @include bg-gradienter (( to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.96) 55%, rgba(255, 255, 255, 0.9) 60%, rgba(0,0,0,0.5) 90% ));
      top: 0;
      left: 0;
      width:100%;
      height:100%;
      content: "";
      position: absolute;
    }  
  }

  &.story-preview.story-photo {
    height: 2 * $card-height + $gutter-height;
    .card-image{
      height:50%;
      bottom: 0;
    }
    .card-preview{
      color:#696565;
    }
  }

  &.story-softcore {
    width: 410px;
    height: 205px;

    .card-image {
      width: 100%;
      height: 100%;
    }

    h1 {
      color: white;
      width: 200px;
    }

    .byline {
      color: #ccc;
      font-weight: 100;
    }

    time {
      color: white;
      font-weight: 100;
    }

    p.category {
      color: #eee;
      font-weight: 400;
    }

    &::after {
      @include bg-gradienter (( to right, rgba(0, 0, 0, 0.8) 0%, rgba(250, 250, 250, 0) 100% ));
      top: 0;
      left: 0;
      width:100%;
      height:100%;
      content: "";
      position: absolute;
    }
  }

  &.cross-campus {
    height: 2 * $card-height + $gutter-height;
    overflow: scroll;
    border-bottom: none;
    h1, p, time {
      color: #696565;
    }

    .xc-content {
      height: (2 * $card-height) - 60px;
      overflow: scroll;
    }

    h1 {
      text-align: center;
      color: white;
      font-family: "Avenir", "Helvetica-Neue", "Arial", "Helvetica", sans-serif;
      text-transform: uppercase;
      background-color: $university-color;
      width: 100%;
      margin: 0;
      padding: 15px 0 15px 0;
      letter-spacing: 0.15em;
      margin-bottom: 25px;
    }

    time {
      color: $university-color;
      margin: 0;
      position: none;
      bottom: 0;
      font-size: 0.8em;
      padding-left: 7px;
      font-weight: 600;
    }

    p.category {
      color: #bbb;
    }

    p.card-preview, p.date {
      width: 90%;
      margin: 0 auto 20px auto;
      font-size: 1em;
    }

    p.date {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: $university-color;
      font-weight: 800;
      margin-bottom: 15px;
    }

    .intro {
      font-weight: 700;
    }

    @extend .six.columns;

    h1, p {
      z-index: 2;
      @extend .six.columns;
    }
    &::after {
      top: 0;
      left: 0;
      width:100%;
      height:100%;
      content: "";
      position: absolute;
    }
  }

  &.story-opinion {
    border-bottom: none;

    h1 {
      color: white;
    }

    .card-image{
      top: 0;
      height: $card-height + $card-border-width;
    }
    time {
        color: white;
      }

       p.category {
        color: #bbb;
       }
    &::after {
      @include bg-gradienter (( to top right, rgba(0, 0, 0, 0.75) 0%, rgba(40, 130, 200, 0.75) 100% ));
      top: 0;
      left: 0;
      width:100%;
      height:100%;
      content: "";
      position: absolute;
    }
  }
}

section.category {
  clear: both;
  width: 100%;
  padding: 2em 0;
  h2 {
    @extend %face-serif;
    font-style: italic;
    font-weight: 600;
    color: #433f3f;
    font-size: 2.75em;
  }
  aside.category-jump {
  }
}
 

@media(max-width:980px) {
  #stories, #university, #city, #sports, #scitech, #culture, #opinion, #weekend, #ytv{
    width: 710px;
    margin: 0 auto;
    margin-top: 3%;
  }

  .card {
      width: $card-width;
    &.story {
      width: $card-width;
    }

    &.story-major {
      width: 2*$card-width + $gutter-height;
    }
    &.story-kahuna{
      width: 3*$card-width + 2*$gutter-height;

      h1 {
        font-size: 40px;
      }
    }


  }
 }

@media(max-width:710px) {

  #stories, #university, #city, #sports, #scitech, #culture, #opinion, #weekend, #ytv{
    width: 480px;
    margin: 0 auto;
    margin-top: 3%;
  }
  .card {

    &.story {
      width: $card-width;
    }

    &.story-major {
      width: 2*$card-width + $gutter-height;
    }
    &.story-kahuna{
      width: 100%;
      //height: $card-height;
      h1 {
        font-size: 20px;
      }
    }

    .breaking {

    }


  }
}


@media(max-width:480px) {

  #stories, #university, #city, #sports, #scitech, #culture, #opinion, #weekend, #ytv{
    width: 90%;
    margin: 0 auto;
    margin-top: 3%;
  }
  .card {
    width: 100%;
    &.story-simple, &.story-opinion {
      height: auto;
      width: 100%;
      background-color: transparent;
      border: none;
      &::after {
        background: #f6f4f4;
      }
      img {
        display: none;
      }
      .category{
        display: none;
      }
      h1{
        color:#433f3f;
      }
    }
    &.story-major {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      background-color: white;
      .card-image {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    &.story-kahuna{
      width: 120%;
      left: -10%;
      height: $card-height;
      background-color: white;
      .card-image {
        display: block;
        width: 100%;
        height: 100%;
      }
      h1 {
        font-size: 25px;
      }
    }
    &.story-photo, &.story-preview {
      width: 100%;
      background-color: white;
      .card-image {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

header#site-header {
  background-color: #ffffff;
  margin-bottom: -30px;
  padding: 10px 0 0;
  a {
    text-decoration: none;
  }
  h1.masthead-logo { 
    background: no-repeat url("../images/branding/YDN_Nameplate_Big.gif");
    background-size: 390px 85px;
    color: transparent;
    width: 390px;
    height: 85px;
    display: block;
    margin: 0 auto 10px;
  }
  nav#site-navigation { 
    background-color: #ffffff;    
    text-align: center;
    z-index:100;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    a {
      @extend %face-sans;
      line-height: 1.2;
      margin: 15px;
      font-size: 14px;
      letter-spacing: 1.75px;
      text-transform: uppercase;
      text-decoration: none;
      color: #bbb; 
      &:hover {
        color: #333;
      }
    }
  }
}

.university{
  .category-jump{
    background-color: $university-color;
  }
  .story .category{
    color:$university-color;
  }
  .card{
  border-bottom: thick solid $university-color;
  }
  
    color:$university-color !important;
}

.opinion{
  .category-jump{
    background-color: $opinion-color;
  }
  .story .category{
    color:$opinion-color;
  }

  
  color: $opinion-color !important;
 
}
.city{
  .category-jump{
    background-color: $city-color;
  }
  .story .category{
    color:$city-color;
  }
  .card{
  border-bottom: thick solid $city-color;
  }
    
  color: $city-color !important;
 
}
.scitech{
  .category-jump{
    background-color: $scitech-color;
  }
  .story .category{
    color:$scitech-color;
  }
    .card{
    border-bottom: thick solid $scitech-color;
    }
     
  color: $scitech-color !important;
 
}

.culture{
  .category-jump{
    background-color: $culture-color;
  }
  .story .category{
    color:$culture-color;
  }
    .card{
    border-bottom: thick solid $culture-color;
    }
     
  color: $culture-color !important;
 
}

.ytv{
  .category-jump{
    background-color: $ytv-color;
  }
  .story .category{
    color:$ytv-color;
  }
    .card{
    border-bottom: thick solid $ytv-color;
    }
    
  color: $ytv-color !important;
 
}


.magazine{
  .category-jump{
    background-color: $magazine-color;
  }
  .story .category{
    color:$magazine-color;
  }
    .card{
    border-bottom: thick solid $magazine-color;
    }
     
  color: $magazine-color !important;
 
}

.weekend{
  .category-jump{
    background-color: $weekend-color;
  }
  .story .category{
    color:$weekend-color;
  }
    .card{
    border-bottom: thick solid $weekend-color;
    }
      
  color: $weekend-color !important;
 
}

.sports{
  .category-jump{
    background-color: $sports-color;
  }
  .story .category{
    color:$sports-color;
  }
.card{
    border-bottom: thick solid $sports-color;
    }
     
  color: $sports-color !important;
 
}

img.card-image{

}

footer#site-footer{
  margin-top: 100px;
  height: 50px;
  background: #C9C9C9;
  text-align: center;
  a {
    text-decoration: none;
    @extend %face-sans;
    font-size: 11px;
    color: white;
    line-height: 50px;
    text-transform: uppercase;
    margin: 0px 10px 0px 10px;
  }
}

.full-bleed {
  width: 100%;
  height: 500px;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url('../images/lux.png') no-repeat;
  background-size: cover;

  h1 {
    color: white;
    font-size: 60px;
    font-family: 'Playfair Display', "Georgia", serif;
  }

  h2.section-label {
    color: white;
    padding: 60px 0px 90px 0px;
  }
  .byline, .time {
    margin: 0 auto;
    color: #ddd;
  }

  .byline {
    padding-top: 10px;
  }
}


