@import "html5-reset", "grid";

%face-sans {
  font-family: "Avenir", "Helvetica-Neue", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
}

%face-serif {
  font-family: 'Playfair Display', "Georgia", serif;
  font-weight: 400;
}

%time-category-style{
  text-transform: uppercase;
  position: absolute;
  font-size: .8em;
  color: #696565;
  margin-left: 15px;

}

$card-height: 212px;
$gutter-height: 38.5px;


body {
	background-color: #f6f4f4;
  @extend %face-sans;
}

%face-header {
  @extend %face-serif;
	letter-spacing: .05em;
  line-height: 1.2;
  font-weight: 600;
  color: #433f3f;
  margin: 15px;
}

p {
	font-size: 0.8em;
}

.container{
	margin-top: 3%;
	display: table;
}

.byline {
  text-transform: uppercase;
  letter-spacing: 1.8;
  font-weight: 600; 
  color: #696565;
  margin-left: 15px;
}


article.story-major::after {
      background: -moz-linear-gradient(left, rgba(20, 121, 242, 0.5) 0%, rgba(20, 121, 242, 0.5) 100%), no-repeat;
      background: -webkit-linear-gradient(left, rgba(20, 121, 242, 0.5) 0%, rgba(20, 121, 242, 0.5) 100%), no-repeat;
      background: -o-linear-gradient(left, rgba(20, 121, 242, 0.5) 0%, rgba(20, 121, 242, 0.5) 100%), no-repeat;
      background: -ms-linear-gradient(left, rgba(20, 121, 242, 0.5) 0%, rgba(20, 121, 242, 0.5) 100%), no-repeat;
      background: linear-gradient(to right, rgba(20, 121, 242, 0.5) 0%, rgba(20, 121, 242, 0.5) 100%), no-repeat;
      top: 0;
      left: 0;
      width:100%;
      height:100%;
      content: "";
      position: absolute;
}

article.story-photo::after {
      background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 1) 50%, rgba(20, 121, 242, 0.5) 100%), no-repeat;
      background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 1) 50%, rgba(20, 121, 242, 0.5) 100%), no-repeat;
      background: -o-linear-gradient(bottom, rgba(255, 255, 255, 1) 50%, rgba(20, 121, 242, 0.5) 100%), no-repeat;
      background: -ms-linear-gradient(bottom, rgba(255, 255, 255, 1) 50%, rgba(20, 121, 242, 0.5) 100%), no-repeat;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(20, 121, 242, 0.5) 100%), no-repeat;
      top: 0;
      left: 0;
      width:100%;
      height:100%;
      content: "";
      position: absolute;
}

article.story-opinion::after {
      background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 1) 50%, rgba(20, 121, 242, 0.5) 100%), no-repeat;
      background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 1) 50%, rgba(20, 121, 242, 0.5) 100%), no-repeat;
      background: -o-linear-gradient(bottom, rgba(255, 255, 255, 1) 50%, rgba(20, 121, 242, 0.5) 100%), no-repeat;
      background: -ms-linear-gradient(bottom, rgba(255, 255, 255, 1) 50%, rgba(20, 121, 242, 0.5) 100%), no-repeat;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(20, 121, 242, 0.5) 100%), no-repeat;
      top: 0;
      left: 0;
      width:100%;
      height:100%;
      content: "";
      position: absolute;
}

$border-width: 3px;
$university-color: #7096ff;


.card {
  @extend .three.columns;
	background-color: white;
	height: $card-height;
  overflow: hidden;
  z-index: 2;
  border-style: solid;
  border-bottom: thick solid $university-color;


  &.category-jump{
    padding: 15px;
    line-height: 1.8em;
    strong {
      font-style: italic;
      font-size: 20px;
      display: block;
    }
  }

    //headline - playfair bold 20pt, line spacing 20px, 
    //  author - avenir, font style heavy, text size 10px, letter spacing - 2px
    //  preview - avenir medium, 12 pt (preview box is font style avenir black, 800, letter space 2px, see university = 50% capacity-->
  h1 {
    @extend %face-header;
    font-size: 20px;
  }
  &.story {
    .byline {
      text-transform: uppercase;
      font-size: 0.8em;
      margin-top: 10px;
      margin-bottom: 10px;
      letter-spacing: .05em;
    }

    .card-preview {
      line-height: 1.3em;
      letter-spacing: .02em;
      //color: #696565;
      margin-left: 15px;
      z-index: 11;
    }
    time{
      bottom: 35px;
      color:white;
      @extend %time-category-style;
    }
    .category{
      bottom: 15px;
      color: $university-color;
      @extend %time-category-style;
    }
    :not(.card-image) {
      z-index: 2;
    }
    .card-image {
      height: 100%;
      width: auto;
      position: absolute;
      //top: 0;
      left: 0;
      z-index: 0;


      
    }
  }
  &.story-major {
    height: 2 * $card-height + $gutter-height;
    h1, p, time{
      color: white;
    }
    @extend .six.columns;
    .card-image {
      top:0;
      height: 2 * $card-height + $gutter-height + $border-width;
    }
    


    h1, p {
      z-index: 2;
      @extend .six.columns;
    }

  }
  &.story-preview {
    height: 2 * $card-height + $gutter-height;
    .card-preview{
      color:#696565;
    }
    time {
      color: #696565;
    }

  }
  &.story-photo {
    height: 2 * $card-height + $gutter-height;
    .card-image{
      height:50%;
      bottom: 0;
    }
    .card-preview{
      color:#696565;
    }
  }
  &.story-preview.story-photo {
    height: 2 * $card-height + $gutter-height;
    .card-image{
      height:50%;
      bottom: 0;
    }
    .card-preview{
      color:#696565;
    }

  }
  &.story-opinion {
    .card-image{
      top: 0;
      height: $card-height + $border-width;
    }

  }
}

section.category {
  clear: both;
  width: 100%;
  padding: 2em 0;
  h2 {
  }
  aside.category-jump {
  }
}
 

@media(max-width:400px) {
	p{
		font-size: 1em;
	}

	.card{
		width: 80%;
		position: relative;
		left: 10%;
		margin-top: 5px;
	}

	.hide {
		display: none;
	}

	div.card:first-of-type{
		margin-top: 5%;

	}
}


header {
  background-color: #ffffff;
  .header {
    width: 210px;
    display: block;
    margin: 0 auto;
    }

  .navigation{ 
    background-color: #ffffff;
    box-shadow: 0 4px 2px -2px gray;
    text-align: center;
    z-index:100;
  }

  .navbar-link {
    @extend %face-header;
    text-transform: uppercase;
    text-decoration: none;
    color: #938383; 
    }

  }


//1479F2 = blue
//06F7b2 = green
//100% opacity at bottom 50% opacity at top
