@import "html5-reset", "grid";

%face-sans {
  font-family: "Avenir", "Helvetica-Neue", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
}

%face-serif {
  font-family: 'Playfair Display', "Georgia", serif;
  font-weight: 400;
}

%time-category-style{
  text-transform: uppercase;
  position: absolute;
  font-size: .8em;
  color: #696565;
  margin-left: 15px;
}

@mixin bg-gradienter($args) {
  background: -moz-linear-gradient($args), no-repeat;
  background: -webkit-linear-gradient($args), no-repeat;
  background: -o-linear-gradient($args), no-repeat;
  background: -ms-linear-gradient($args), no-repeat;
  background: linear-gradient($args), no-repeat;
}

$card-height: 212px;
$gutter-height: 38.5px;

body {
	background-color: #f6f4f4;
  @extend %face-sans;
}

%face-header {
  @extend %face-sans;
	letter-spacing: .05em;
  line-height: 1.2;
  font-weight: 600;
  color: #433f3f;
  margin: 15px;
}

p {
	font-size: 0.8em;
}

.container{
	margin-top: 3%;
	display: table;
}

.byline {
  text-transform: uppercase;
  letter-spacing: 1.8;
  font-weight: 600; 
  color: #696565;
  margin-left: 15px;
}


$card-border-width: 3px;

$university-color: #7096ff;
$opinion-color: #b15ce1;
$city-color: #a73848;
$scitech-color: #f5e638;
$sports-color:#483fc2;
$ytv-color: #fe9e48;
$weekend-color: #3faac6;
$magazine-color: #5740b2;
$culture-color: #1fea7c;


.card {
  @extend .three.columns;
	background-color: white;
	height: $card-height;
  overflow: hidden;
  z-index: 2;
  border-style: solid;
  border-bottom: thick solid $university-color;

  &.category-jump{
    bottom: 0;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    color: white;
    line-height: 1.8em;
    strong {
      font-style: italic;
      font-size: 35px;
      font-weight: 700;
      display: block;
      @extend %face-serif;
      text-transform: lowercase;
      letter-spacing: 1.3px;
      color: white;
    }
  }

    //  headline - playfair bold 20pt, line spacing 20px, 
    //  author - avenir, font style heavy, text size 10px, letter spacing - 2px
    //  preview - avenir medium, 12 pt (preview box is font style avenir black, 800, letter space 2px, see university = 50% capacity-->
  h1 {
    @extend %face-header;
    font-size: 20px;
  }
  &.story {
    .byline {
      text-transform: uppercase;
      font-size: 0.8em;
      margin-top: 10px;
      margin-bottom: 10px;
      letter-spacing: .05em;
    }
    .card-preview {
      line-height: 1.3em;
      letter-spacing: .02em;
      margin-left: 15px;
      margin-right: 15px;
      z-index: 11;
    }
    time {
      bottom: 35px;
      color: #433f3f; 
      @extend %time-category-style;
    }
    .category{
      bottom: 15px;
      color: $university-color;
      @extend %time-category-style;
    }
    :not(.card-image) {
      z-index: 2;
    }
    .card-image {
      height: 100%;
      width: auto;
      position: absolute;
      //top: 0;
      left: 0;
      z-index: 0;

    }
  }


  &.story-major {
    height: 2 * $card-height + $gutter-height;
    h1, p, time{
      color: white;
    }
    @extend .six.columns;
    .card-image {
      top:0;
      height: 2 * $card-height + $gutter-height + $card-border-width;
    }
    h1, p {
      z-index: 2;
      @extend .six.columns;
    }
    &::after {
      @include bg-gradienter (( to right, rgba(20, 121, 242, 0.5) 0%, rgba(20, 121, 242, 0.5) 100% ));
      top: 0;
      left: 0;
      width:100%;
      height:100%;
      content: "";
      position: absolute;
    }
  }

  &.story-breaking{
    @extend .twelve.columns;
    @extend .story-major;
    .card-image{
      top:0;
      width: 100%;
      height: auto; 
    }
    h1{
      @extend .nine.columns;
      font-size: 60px;
    }
  }

  &.story-preview {
    height: 2 * $card-height + $gutter-height;
    .card-preview{
      color:#696565;
    }
    time {
      color: #696565;
    }

  }

  &.story-photo {
    height: 2 * $card-height + $gutter-height;
    .card-image{
      height:50%;
      bottom: 0;
    }
    .card-preview{
      color:#696565;
    }
    time {
        color: white;
      }
    &::after {
      @include bg-gradienter (( to bottom, rgba(255, 255, 255, 1) 60%, rgba(0,0,0,0) 100% ));
      top: 0;
      left: 0;
      width:100%;
      height:100%;
      content: "";
      position: absolute;
    }  
  }
  &.story-preview.story-photo {
    height: 2 * $card-height + $gutter-height;
    .card-image{
      height:50%;
      bottom: 0;
    }
    .card-preview{
      color:#696565;
    }
  }

  &.story-opinion {
    .card-image{
      top: 0;
      height: $card-height + $card-border-width;
    }
    time {
        color: white;
      }
    &::after {
      @include bg-gradienter (( to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(0, 0, 0, 0) 100% ));
      top: 0;
      left: 0;
      width:100%;
      height:100%;
      content: "";
      position: absolute;
    }
  }
}

section.category {
  clear: both;
  width: 100%;
  padding: 2em 0;
  h2 {
  }
  aside.category-jump {
  }
}
 

@media(max-width:400px) {
	p {
		font-size: 1em;
	}

	.card {
		width: 80%;
		position: relative;
		left: 10%;
		margin-top: 5px;
	}

	.hide {
		display: none;
	}

	div.card:first-of-type{
		margin-top: 5%;

	}
}


header {
  background-color: #ffffff;
  .header {
    width: 210px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    }

  .navigation{ 
    background-color: #ffffff;
    box-shadow: 0 4px 2px -2px gray;
    text-align: center;
    z-index:100;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-link {
    @extend %face-header;
    text-transform: uppercase;
    text-decoration: none;
    color: #938383; 
    }

  }



//color section
.university{
  .category-jump{
    background-color: $university-color;
  }
  .story .category{
    color:$university-color;
  }
  .card{
  border-bottom: thick solid $university-color;
  }
}

.opinion{
  .category-jump{
    background-color: $opinion-color;
  }
  .story .category{
    color:$opinion-color;
  }
  .card{
  border-bottom: thick solid $opinion-color;
 }
}
.city{
  .category-jump{
    background-color: $city-color;
  }
  .story .category{
    color:$city-color;
  }
  .card{
  border-bottom: thick solid $city-color;
  }
}
.scitech{
  .category-jump{
    background-color: $scitech-color;
  }
  .story .category{
    color:$scitech-color;
  }
    .card{
    border-bottom: thick solid $scitech-color;
    }
}

.culture{
  .category-jump{
    background-color: $culture-color;
  }
  .story .category{
    color:$culture-color;
  }
    .card{
    border-bottom: thick solid $culture-color;
    }
}

.ytv{
  .category-jump{
    background-color: $ytv-color;
  }
  .story .category{
    color:$ytv-color;
  }
    .card{
    border-bottom: thick solid $ytv-color;
    }
}


.magazine{
  .category-jump{
    background-color: $magazine-color;
  }
  .story .category{
    color:$magazine-color;
  }
    .card{
    border-bottom: thick solid $magazine-color;
    }
}

.weekend{
  .category-jump{
    background-color: $weekend-color;
  }
  .story .category{
    color:$weekend-color;
  }
    .card{
    border-bottom: thick solid $weekend-color;
    }
}

.sports{
  .category-jump{
    background-color: $sports-color;
  }
  .story .category{
    color:$sports-color;
  }
.card{
    border-bottom: thick solid $sports-color;
    }
}

img.card-image{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

footer{
  height: 50px;
}

  .active {
    background-color: #307FB5;
  }

//1479F2 = blue
//06F7b2 = green
//100% opacity at bottom 50% opacity at top
